.action-section {
    // margin-top: 1rem;
    padding-top: 1rem;
    .add-category {
        width: 100%;
        margin-bottom: 1rem;
    }
    .action-container {
        border-top: 1px solid $oc-gray-3;
        padding-top: 1rem;
        .input {
            display: inline-block;
            width: 60%;
            input {
                width: 100%;
            }
        }
        .buttons-wrapper {
            width: 40%;
            display: inline-block;
            text-align: right;
        }
    }
    .not-selected {
        border-top: 1px solid $oc-gray-3;
        padding-top: 1rem;
        text-align: center;
        color: $oc-gray-6;
    }
}