.action-section {
    .add-category {
        width: 100%;
        margin-bottom: 1rem;
        background: white!important;
    }
    .action-container {
        border-top: 1px solid $oc-gray-3;
        padding-top: 1rem;
        .input {
            width: 100%;
            input {
                width: 100%;
            }
        }
        .buttons-wrapper {
            padding-top: 1rem;
            width: 100%;
            text-align: right;
            .ui.buttons {
                width: 100%;
            }
        }
    }
    .not-selected {
        border-top: 1px solid $oc-gray-3;
        padding-top: 1rem;
        text-align: center;
        color: $oc-gray-6;
    }
}