.duruwa-bar {
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 30rem;
    background: white;
    transition: all 0.3s ease-in-out;
    border-right: 5px solid $oc-pink-5;
    background: white;

    z-index: $z-index-myloxy-duruwabar;
    left: 4.5rem;

    &.fadeInLeft, &.fadeOutLeft {
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
}