.content {
    @import 'InputUsername';
    @import 'Loader';
    
    position: relative;
    background: white;
    .greeting {
        text-align: center;
        font-size: 4rem;
        line-height: 4rem;
        font-weight: 300;
    }
    .information {
        margin-top: 2rem;
        font-size: 1.5rem;
        color: $oc-gray-7;
        text-align: center;
        font-weight: 300;
    }
    
    padding: 2rem;

    @include media("<desktop") {
        .greeting {
            line-height: 3rem;
            font-size: 3rem;
        }
        .information {
            margin-top: 1.4rem;
            line-height: 1.2rem;
            font-size: 1.2rem;
        }
    }
}