.previous-button {
    font-size: 1.3rem;

    background: white;
    display: inline-block;
    padding: 0.6rem;
    color: $oc-pink-7;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);    
    cursor: pointer;
    user-select: none;
    .icon {
        margin-right: 1rem;
    }
    &:hover {
        background: $oc-pink-5;
        color: white;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    &:active {
        background: $oc-pink-6;
    }
    
}