.ui.pink.button, .ui.pink.buttons .button {
    background: $oc-pink-6!important;
    &:hover {
        background: $oc-pink-5!important;
    }
    &:active {
        background: $oc-pink-7!important;
    }
}