$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px, wide-desktop: 1366px);




// z-index

$z-index-header: 10;
$z-index-dimmer: 20;
$z-index-modal: 30;
$z-index-modal-disable: 35;
$z-index-user-menu: 15;