.auth-button-wrapper {
    float: right;
    line-height: 4rem;
    .auth-button {
        i {
            margin-right: 0.5rem;
        }
        display: inline-block;
        position: relative;
        background-color: $oc-gray-7;
        color: white;
        font-weight: bold;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        line-height: 1rem;
        border-radius: 4px;
        transition: background .3s;
        cursor: pointer;
        user-select: none;
        &:hover {
            background: $oc-pink-6;
        }
    }
}