.user-menu-wrapper {
    z-index: $z-index-user-menu;
    transition: all 0.5s;
    position: absolute;
    top: 4.5rem;
    right: 13.5rem;
    .user-menu {
        position: absolute;
        width: 15rem;
        font-size: 14px;
        text-align: center;
        background: rgb(255, 255, 255);
        border-radius: 3px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        
        .menu-item {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            cursor: pointer;
            text-align: left;
            // transition: all .3s;

            .menu-name {
                .icon {
                    font-size: 1rem;
                    line-height: 1.3rem;
                    color: $oc-gray-6;
                    margin-right: 0.5rem;
                }
                span {
                    font-weight: 500;
                    line-height: 1.3rem;
                    color: $oc-gray-8;
                    b { 
                        font-weight: 600; 
                    }
                }
            }
            .description {
                margin-left: 1.75rem;
                color: $oc-gray-7;
                margin-top: 0.4rem;
                b {
                    font-weight: 500;
                }
            }

            &:hover {
                background: $oc-pink-6;
                .menu-name {
                    .icon {
                        color: $oc-pink-1;
                    }
                    span {
                        color: white;
                    }
                }
                .description {
                    color: $oc-pink-1;
                }
            }

            &:active {
                background: $oc-pink-7;
            }
        }

        .menu-item + .menu-item {
            border-top: 1px solid $oc-gray-2;
        }
    }
    .user-menu:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-width: 0.5rem;
        border-style: solid;
        border-color: transparent transparent $oc-gray-9 transparent;
        top: -1rem;
        right: 1rem;
    }

    // 애니메이션 설정
    &.flipInX, &.flipOutX {
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
}