.post-body {
    @import 'Layer';
    background: white;
    flex-grow: 1;
    overflow-y: scroll;
    position: relative;

    .inner {
        
        padding: 1rem;
        padding-top: 4rem;
        margin: 0 auto;
        .title {
            font-size: 2rem;
            line-height: 2rem;
        }

        .date {
            display: inline-block;
            margin-top: 0.5rem;
            color: $oc-gray-6;
            font-weight: 300;
        }
        .content {
            @include markdown();
            margin-top: 1rem;
            line-height: 2.25rem;
            color: $oc-gray-7;
            font-weight: 300;
            font-size: 1.45rem;
            word-wrap: break-word;
            overflow: auto;  
        }
        overflow: hidden;
        width: 80%;
    }


    
    @include media("<desktop") {
        .inner {
            width: 100%;
        }
    }
}