.preview-wrapper {
    flex: 1;
    position: relative;
    .preview {
        .title {
            font-size: 2em;
            font-weight: 600;
        }
        .date {
            color: $oc-gray-6;
            font-size: 1rem;
            font-weight: 300;
            margin-bottom: 2rem;
        }
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 2rem;
        line-height: 1.5;
        color: #333;
        font-size: 1.5rem;
        line-height: 1.5;
        word-wrap: break-word;
        overflow: auto;
        @import 'markdown';
    }
}
