.box {
    margin-top: 2rem;
    .title {
        font-size: 1.2rem;
        line-height: 1.4rem;
        border-left: 5px solid $oc-gray-7;
        padding-left: 0.5rem;
        color: $oc-gray-7;
        font-weight: 500;
    }
    .content {
        margin-top: 1rem;
        display: block;
    }
}