.sidebar {
    @import 'SwitchButton';
    @import 'ImageUploadButton';
    @import 'Box';
    @import 'TagInput';
    @import 'TagContainer';
    @import 'Tag';
    @import 'VisibilityOption';
    @import 'Category';

    padding: 1rem;
    width: 14rem;
    background: $oc-gray-0;
    border-right: 1px solid $oc-gray-2;
}