.switch-button {
    background: white;
    border: 1px solid $oc-pink-6;
    padding: 0.5rem;
    text-align: center;
    color: $oc-pink-7;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s;
    user-select: none;
    .icon {
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
    }

    font-size: 1.2rem;
    b {
        font-weight: 500;
    }

    &:hover {
        background: $oc-pink-6;
        color: white;
    }

    &:active {
        background: $oc-pink-8;
    }

}