.sorter-wrapper {
    .sorter {
        background: white;
        border-radius: 1.5rem;
        position: relative;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        
        .selected { 
            position: absolute;
            width: 33.3333333%;
            background: $oc-pink-6;
            height: 3rem;
            top: 0px;
            left: 0px;

            transition-timing-function: ease-in-out;
            transition: all .3s;

            &.left {
                transform: translateX(0%);
                border-top-left-radius: 1.5rem;
                border-bottom-left-radius: 1.5rem;
            }

            &.center {
                transform: translateX(100%);
            }

            &.right {
                transform: translateX(200%);
                border-top-right-radius: 1.5rem;
                border-bottom-right-radius: 1.5rem;
            }
        }

        .sort-item {
            width: 33.333%;
            height: 3rem;
            display: inline-block;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            text-align: center;
            font-size: 2rem;
            line-height: 2rem;
            color: $oc-pink-7;
            cursor: pointer;
            transition-timing-function: ease-in-out;
            transition: all .3s;

            &.left {
                border-top-left-radius: 1.5rem;
                border-bottom-left-radius: 1.5rem;
            }

            &.right {
                border-top-right-radius: 1.5rem;
                border-bottom-right-radius: 1.5rem;
            }
            &:hover {
                background: $oc-gray-0;
                color: $oc-pink-6;
            }

            &.active {
                color: white;
            }

            .icon {
                position: relative;
                z-index: 1;
            }

        }

        .sort-item + .sort-item {
            border-left: 1px solid $oc-gray-2;
        }
    
    }
}